<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppsRootPath" value="D:/YasharRemote/Apps"/>
		<add key="LogPath" value="D:/YasharRemote/Logs"/>
		<add key="ScreenShootPath" value="/ScreenShoots"/>
		<add key="TempRoot" value="D:/YasharRemote/temp"/>
		<add key="WaitForAppToStartMS" value="3000"/>
		<add key="DropBoxAccessToken" value="KpGDJyqwZUcAAAAAAAAAAQurb0qdXS_nX1WRaD5hbQItUhgNaxjFGSKVQ0rbQLzi"/>
	</appSettings>
</configuration>